modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ERPNEXT_URL = "https://erp.wttint.com"
ERPNEXT_API_KEY = "bcbc298244f56a7"
ERPNEXT_API_SECRET = "b15c3b49acdfef5"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22919
externalPort = 3000

[[ports]]
localPort = 23117
externalPort = 3002

[[ports]]
localPort = 23704
externalPort = 3001
